@using TJRJ.Web.Helpers
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/Home" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block">Olá, TJRJ</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Página Inicial
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Assunto" asp-action="Index" class="nav-link @Url.MakeActiveClass("Assunto","index")">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Assuntos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Autor" asp-action="Index" class="nav-link @Url.MakeActiveClass("Autor","index")">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Autores
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Livro" asp-action="Index" class="nav-link @Url.MakeActiveClass("Livro","index")">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Livros
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>