@page
@model ForgotPasswordConfirmation
@{
    Layout = null;
    ViewData["Title"] = "Redefinir Senha";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TJRJ TJRJ - Redefinir Senha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/css/email/confirmemail.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style media="all" type="text/css">
        /* Estilos para telas grandes (por exemplo, desktops) */



        @@media only screen and (min-width: 768px) {
            .register-box {
                width: 90%;
                margin-top: 1.5rem;
            }
        }

        @@media only screen and (min-width: 768px) {
            .register-box {
                margin-top: .5rem;
                width: 800px;
            }
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="register-box">
       
        <div class="card">
            <div class="card-body login-card-body">
                <div style="text-align: center">
                </div>
                <h3>Por favor, verifique o seu email para redefinir a sua senha.</h3>
            </div>
        </div>
    </div>
    <div class="footer">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="content-block">
                    <span class="apple-link">TJRJ TJRJ, Marília - SP, Brasil</span>

                </td>
            </tr>
            <tr>
                <td class="content-block powered-by">
                    Desenvolvido por <b>TJRJ TJRJ</b><a href="https://www.tTJRJ.com.br">
                        <br />Clique aqui e acesse nosso site! Fique por dentro de nossas novidades
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>

</html>
