@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style media="all" type="text/css">
        /* Estilos para telas grandes (por exemplo, desktops) */
       
        

        @@media only screen and (min-width: 768px) {
            .register-box {
                width: 90%;
                margin-top: 1.5rem;
            }
        }

            @@media only screen and (min-width: 768px) {
            .register-box {
                margin-top: .5rem;
                width: 800px;
            }

        }
        
    </style>
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <img src="~/img/logo-TJRJ.jpg" style="max-width: 50%" />
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div style="text-align: center">
                        <h4>Acesse a sua conta</h4>
                    </div>
                   
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="Input.CpfCnpj"></label>
                                <input asp-for="Input.CpfCnpj" class="form-control" />
                                <span asp-validation-for="Input.CpfCnpj" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" type="email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.Name"></label>
                                <input asp-for="Input.Name" class="form-control" />
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.LastName"></label>
                                <input asp-for="Input.LastName" class="form-control" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.TelefoneCelular"></label>
                                <input asp-for="Input.TelefoneCelular" class="form-control" />
                                <span asp-validation-for="Input.TelefoneCelular" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.TelefoneResidencial"></label>
                                <input asp-for="Input.TelefoneResidencial" class="form-control" />
                                <span asp-validation-for="Input.TelefoneResidencial" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-block">Cadastrar-se</button>
                        </div>
                        <div class="col-lg-12">
                            <a asp-page="./Login">Já possui cadastro? Faça o login!</a>
                        </div>
                    </div>
                    
                </form>
                
            </div>
        </div>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script>
        $("form").submit(function () {
            $("<div />").css({
                'position': 'fixed',
                'left': 0,
                'right': 0,
                'bottom': 0,
                'top': 0,
                'background': '#0020ff36',
                'z-index': '99',
                'text-align': 'center'
            }).appendTo($("body"))
                .append(
                    $("<img />").attr("src", "https://mir-s3-cdn-cf.behance.net/project_modules/disp/35771931234507.564a1d2403b3a.gif")
                );
        });
    </script>
    
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
