@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


<!DOCTYPE html>

    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Log in</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <link rel="stylesheet" href="~/css/adminlte.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>
    <body>
        <div>
            <div class="card">
                <div class="card-body login-card-body">
                    <div style="text-align: center">
                        <h1>Confirmação de email necessária</h1>
                        <p>
                            <h3>
                                Enviamos para o seu email, um link para validação do seu cadastro.
                                <br />Caso não receba o e-mail dentro de 10 minutos, entre em contato com o nosso suporte!
                            </h3>
                            <h5>
                                Verifique se o email não foi enviado para o lixo eletrônico ou spam de sua caixa de email
                            </h5>

                        </p>

                    </div>
                </div>

            </div>
        </div>
    </body>
    </html>