@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Olá, bem vindo TJRJ</h1>
<a></a>
<a asp-action="CreateReport" asp-controller="Home" class="btn btn-primary">Clique aqui para gerar o relatório.</a>
<a asp-action="Relatorio" asp-controller="Home" class="btn btn-primary">Clique aqui para visualizar o relatório.</a>